### Definição do Problema


Proposta para construção de um algoritmo de Machine Learning capaz de prever quem vai ganhar a Copa do Mundo 2022

### Coleta dos Dados

Foi disponibilizado conjuntos de dados no formato Excel e minha tarefa é construir um Banco de Dados que disponibilize esses dados, além disso, devemos nos conectar com esse BD para buscar informações úteis para análise e criação do modelo de Machine Learning capaz de realizar predições do resultado de jogos da copa

In [ ]:
# Instalando Bibliotecas
!pip install pymongo
!pip install pymongo[srv]
!pip install dnspython

In [1]:
# Importando Bibliotecas
from pymongo import MongoClient
import json
import pandas as pd

In [2]:
# Conectei com o cluster
client = MongoClient('mongodb+srv://gugahdourado:gugahdourado@cluster0.enbclcj.mongodb.net/?retryWrites=true&w=majority')

In [3]:
# Print
print(client)

MongoClient(host=['ac-eeot0mq-shard-00-02.enbclcj.mongodb.net:27017', 'ac-eeot0mq-shard-00-00.enbclcj.mongodb.net:27017', 'ac-eeot0mq-shard-00-01.enbclcj.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-wsw50j-shard-0', tls=True)

In [4]:
# Conectando com bando de dados
db = client.get_database('copasdomundo_db')

### Conjunto de dados jogos copas do mundo

In [5]:
# Acessando a collection dentro do banco de dados
collection_jogos_copadomundo = db.jogos_copasdomundo

In [6]:
# Chamando o arquivo json de jogos Copas do Mundo
with open("json/Jogos Copas do Mundo - WorldCupMatches.json") as f:
    jogos_copasdomundo = json.load(f)

In [7]:
# Inserindo os dados no meu banco de dados
collection_jogos_copadomundo.insert_many(jogos_copasdomundo)

In [8]:
# Verificando quantos registro tem no documento
collection_jogos_copadomundo.count_documents({})

916

In [9]:
# Criando o Dataframe jogos copas do mundo
df_jogos_copasdomundo = pd.DataFrame(list(collection_jogos_copadomundo.find()))

In [10]:
# Visualizando o DataFrame jogos copas do mundo
df_jogos_copasdomundo.head()

,_id,Ano,Data,Fase,Estadio,Cidade,TimeDaCasa,GolsTimeDaCasa,GolsTimeVisitante,TimeVisitante,Publico,GolsTimeCasaAntesIntervalo,GolsTimeVisitanteAntesIntervalo,TimeDaCasaIniciais,TimeVisitanteIniciais
0,6352a155ce41dd7d6caa8647,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,4444,3,0,FRA,MEX
1,6352a155ce41dd7d6caa8648,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,18346,2,0,USA,BEL
2,6352a155ce41dd7d6caa8649,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,24059,2,0,YUG,BRA
3,6352a155ce41dd7d6caa864a,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,2549,1,0,ROU,PER
4,6352a155ce41dd7d6caa864b,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,23409,0,0,ARG,FRA

### Conjunto de Dados Jogadores

In [11]:
# Acessando a collection dentro do banco de dados de jogadores copa do mundo
collection_jogadores_copadomundo = db.jogadores_copadomundo

In [12]:
# Chamando o arquivo json Jogadores copas do mundo
with open("json/Jogadores - Jogadores.json") as f:
    jogadores_copasdomundo = json.load(f)

In [13]:
# Inserindo os dados no meu banco de dados de jogadores copa do mundo
collection_jogadores_copadomundo.insert_many(jogadores_copasdomundo)

In [14]:
# Criando o Dataframe jogadores copas do mundo
df_jogadores_copasdomundo = pd.DataFrame(list(collection_jogadores_copadomundo.find()))

In [15]:
# Visualizando o DataFrame jogadores copas do mundo
df_jogos_copasdomundo.head()

,_id,Ano,Data,Fase,Estadio,Cidade,TimeDaCasa,GolsTimeDaCasa,GolsTimeVisitante,TimeVisitante,Publico,GolsTimeCasaAntesIntervalo,GolsTimeVisitanteAntesIntervalo,TimeDaCasaIniciais,TimeVisitanteIniciais
0,6352a155ce41dd7d6caa8647,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,4444,3,0,FRA,MEX
1,6352a155ce41dd7d6caa8648,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,18346,2,0,USA,BEL
2,6352a155ce41dd7d6caa8649,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,24059,2,0,YUG,BRA
3,6352a155ce41dd7d6caa864a,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,2549,1,0,ROU,PER
4,6352a155ce41dd7d6caa864b,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,23409,0,0,ARG,FRA

###  Conjunto de Dados Campeões

In [16]:
# Acessando a collection dentro do banco de dados de campeões copa do mundo
collection_campeoes_copadomundo = db.campeoes_copasdomundo

In [17]:
# Chamando o arquivo json campeões copas do mundo
with open("json/Campeoes - Campeoes.json") as f:
    campeoes_copasdomundo = json.load(f)

In [18]:
# Inserindo os dados no meu banco de dados de campeões copa do mundo
collection_campeoes_copadomundo.insert_many(campeoes_copasdomundo)

In [19]:
# Criando o Dataframe campeões copas do mundo
df_campeoes_copasdomundo = pd.DataFrame(list(collection_campeoes_copadomundo.find()))

In [20]:
# Visualizando o DataFrame campeões copas do mundo
df_campeoes_copasdomundo.head()

,_id,Ano,Sede,Vencedor,Segundo,Terceiro,Quarto,TotalGols,TotalTimes,TotalPartidas,Publico
0,6352a164ce41dd7d6cab1d73,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,6352a164ce41dd7d6cab1d74,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363
2,6352a164ce41dd7d6cab1d75,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.7
3,6352a164ce41dd7d6cab1d76,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,6352a164ce41dd7d6cab1d77,1954,Switzerland,Germany,Hungary,Austria,Uruguay,140,16,26,768.607

### Análise Exploratória de Dados

- df_jogos_copasdomundo - Todos os jogos das copas
- df_jogadores_copasdomundo - Jogadores que participaram das copas
- df_campeoes_copasdomundo - Campeões das copas

In [25]:
# Visualizar as informações campeões copas do mundo
df_campeoes_copasdomundo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   _id            21 non-null     object
 1   Ano            21 non-null     int64
 2   Sede           21 non-null     object
 3   Vencedor       21 non-null     object
 4   Segundo        21 non-null     object
 5   Terceiro       21 non-null     object
 6   Quarto         21 non-null     object
 7   TotalGols      21 non-null     int64
 8   TotalTimes     21 non-null     int64
 9   TotalPartidas  21 non-null     int64
 10  Publico        21 non-null     object
dtypes: int64(4), object(7)
memory usage: 1.9+ KB

#### Descobrir quantas vezes foi realizado a copa do mundo desde o inicio

In [24]:
print('Foram realizadas', df_campeoes_copasdomundo['Ano'].count(), 'Copas do Mundo')

Foram realizadas 21 Copas do Mundo

In [26]:
# Visualizar as informações campeões copas do mundo
df_jogos_copasdomundo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   _id                              916 non-null    object
 1   Ano                              916 non-null    int64
 2   Data                             916 non-null    object
 3   Fase                             916 non-null    object
 4   Estadio                          916 non-null    object
 5   Cidade                           916 non-null    object
 6   TimeDaCasa                       916 non-null    object
 7   GolsTimeDaCasa                   916 non-null    int64
 8   GolsTimeVisitante                916 non-null    int64
 9   TimeVisitante                    916 non-null    object
 10  Publico                          916 non-null    object
 11  GolsTimeCasaAntesIntervalo       916 non-null    object
 12  GolsTimeVisitanteAntesIntervalo  916 non-null    object
 13  TimeDaCasaIniciais               916 non-null    object
 14  TimeVisitanteIniciais            916 non-null    object
dtypes: int64(3), object(12)
memory usage: 107.5+ KB

#### Transformar a Coluna Data em uma coluna Datetime

In [27]:
# Primeiro vamos transformar a Coluna Data em uma coluna Datetime
df_jogos_copasdomundo['Data'] = pd.to_datetime(df_jogos_copasdomundo['Data'])

In [28]:
# Visualizar a transformação
df_jogos_copasdomundo['Data']

0     1930-07-13 15:00:00
1     1930-07-13 15:00:00
2     1930-07-14 12:45:00
3     1930-07-14 14:50:00
4     1930-07-15 16:00:00
              ...
911   2018-07-07 21:00:00
912   2018-07-10 21:00:00
913   2018-07-11 21:00:00
914   2018-07-14 17:00:00
915   2018-07-15 18:00:00
Name: Data, Length: 916, dtype: datetime64[ns]

#### Quantas vezes os time que estavam jogando em casa venceram a final?

In [29]:
# Vamos filtrar o dataset pela coluna Fase para encontrar apenas os jogos das finais
# Confirmamos isso usando o unique()
df_finais_copasdomundo = df_jogos_copasdomundo[df_jogos_copasdomundo['Fase'] == 'Final']
df_finais_copasdomundo['Fase'].unique()

array(['Final'], dtype=object)

In [30]:
# Visualizar o dataframe
df_finais_copasdomundo.head()

,_id,Ano,Data,Fase,Estadio,Cidade,TimeDaCasa,GolsTimeDaCasa,GolsTimeVisitante,TimeVisitante,Publico,GolsTimeCasaAntesIntervalo,GolsTimeVisitanteAntesIntervalo,TimeDaCasaIniciais,TimeVisitanteIniciais
17,6352a155ce41dd7d6caa8658,1930,1930-07-30 14:15:00,Final,Estadio Centenario,Montevideo,Uruguay,4,2,Argentina,68346,1,2,URU,ARG
34,6352a155ce41dd7d6caa8669,1934,1934-06-10 17:30:00,Final,Nazionale PNF,Rome,Italy,2,1,Czechoslovakia,55000,0,0,ITA,TCH
52,6352a155ce41dd7d6caa867b,1938,1938-06-19 17:00:00,Final,Stade Olympique,Colombes,Italy,4,2,Hungary,45000,3,1,ITA,HUN
100,6352a155ce41dd7d6caa86ab,1954,1954-07-04 17:00:00,Final,Wankdorf Stadium,Berne,Germany FR,3,2,Hungary,62500,2,2,FRG,HUN
135,6352a155ce41dd7d6caa86ce,1958,1958-06-29 15:00:00,Final,Rasunda Stadium,Solna,Brazil,5,2,Sweden,49737,2,1,BRA,SWE

In [34]:
# Verificar quantas vezes o time da casa foi campeão jogando em casa
numero_partidas_timecasaganhou = df_finais_copasdomundo[(df_finais_copasdomundo['GolsTimeDaCasa'] > df_finais_copasdomundo['GolsTimeVisitante'])].shape[0]
numero_partidas_timecasaganhou

15

In [35]:
# Verificar quantas vezes o time visitante foi campeão jogando fora
numero_partidas_timevisitanteganhou = df_finais_copasdomundo[(df_finais_copasdomundo['GolsTimeDaCasa'] < df_finais_copasdomundo['GolsTimeVisitante'])].shape[0]
numero_partidas_timevisitanteganhou

4