### Definição do Problema


Proposta para construção de um algoritmo de Machine Learning capaz de prever quem vai ganhar a Copa do Mundo 2022

### Coleta dos Dados

Foi disponibilizado conjuntos de dados no formato Excel e minha tarefa é construir um Banco de Dados que disponibilize esses dados, além disso, devemos nos conectar com esse BD para buscar informações úteis para análise e criação do modelo de Machine Learning capaz de realizar predições do resultado de jogos da copa

In [ ]:
# Instalando Bibliotecas
!pip install pymongo
!pip install pymongo[srv]
!pip install dnspython

In [6]:
# Importando Bibliotecas
from pymongo import MongoClient
import json
import pandas as pd

In [2]:
# Conectei com o cluster
client = MongoClient('mongodb+srv://gugahdourado:gugahdourado@cluster0.enbclcj.mongodb.net/?retryWrites=true&w=majority')

In [3]:
# Print
print(client)

MongoClient(host=['ac-eeot0mq-shard-00-01.enbclcj.mongodb.net:27017', 'ac-eeot0mq-shard-00-02.enbclcj.mongodb.net:27017', 'ac-eeot0mq-shard-00-00.enbclcj.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-wsw50j-shard-0', tls=True)

In [4]:
# Conectando com bando de dados
db = client.get_database('copasdomundo_db')

### Conjunto de dados jogos copas do mundo

In [5]:
# Acessando a collection dentro do banco de dados
collection_jogos_copadomundo = db.jogos_copasdomundo

In [7]:
# Chamando o arquivo json de jogos Copas do Mundo
with open("json/Jogos Copas do Mundo - WorldCupMatches.json") as f:
    jogos_copasdomundo = json.load(f)

In [9]:
# Inserindo os dados no meu banco de dados
collection_jogos_copadomundo.insert_many(jogos_copasdomundo)

In [10]:
# Verificando quantos registro tem no documento
collection_jogos_copadomundo.count_documents({})

916

In [19]:
# Criando o Dataframe jogos copas do mundo
df_jogos_copasdomundo = pd.DataFrame(list(collection_jogos_copadomundo.find()))

In [20]:
# Visualizando o DataFrame jogos copas do mundo
df_jogos_copasdomundo.head()

,_id,Ano,Data,Fase,Estadio,Cidade,TimeDaCasa,GolsTimeDaCasa,GolsTimeVisitante,TimeVisitante,...,GolsTimeVisitanteAntesIntervalo,TimeDaCasaIniciais,TimeVisitanteIniciais,IdRodada,IdPartida,InicialDoTime,Treinador,Titular,NomeJogador,Posicao
0,6351f387b081cac00d89ce07,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,...,0,FRA,MEX,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6351f387b081cac00d89ce08,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,...,0,USA,BEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6351f387b081cac00d89ce09,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,...,0,YUG,BRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6351f387b081cac00d89ce0a,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,...,0,ROU,PER,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6351f387b081cac00d89ce0b,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,...,0,ARG,FRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Conjunto de Dados Jogadores

In [16]:
# Acessando a collection dentro do banco de dados de jogadores copa do mundo
collection_jogadores_copadomundo = db.jogadores_copadomundo

In [17]:
# Chamando o arquivo json Jogadores copas do mundo
with open("json/Jogadores - Jogadores.json") as f:
    jogadores_copasdomundo = json.load(f)

In [18]:
# Inserindo os dados no meu banco de dados de jogadores copa do mundo
collection_jogadores_copadomundo.insert_many(jogadores_copasdomundo)

In [21]:
# Criando o Dataframe jogadores copas do mundo
df_jogadores_copasdomundo = pd.DataFrame(list(collection_jogadores_copadomundo.find()))

In [22]:
# Visualizando o DataFrame jogadores copas do mundo
df_jogos_copasdomundo.head()

,_id,Ano,Data,Fase,Estadio,Cidade,TimeDaCasa,GolsTimeDaCasa,GolsTimeVisitante,TimeVisitante,...,GolsTimeVisitanteAntesIntervalo,TimeDaCasaIniciais,TimeVisitanteIniciais,IdRodada,IdPartida,InicialDoTime,Treinador,Titular,NomeJogador,Posicao
0,6351f387b081cac00d89ce07,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,...,0,FRA,MEX,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6351f387b081cac00d89ce08,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,...,0,USA,BEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6351f387b081cac00d89ce09,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,...,0,YUG,BRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6351f387b081cac00d89ce0a,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,...,0,ROU,PER,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6351f387b081cac00d89ce0b,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,...,0,ARG,FRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###  Conjunto de Dados Campeões

In [23]:
# Acessando a collection dentro do banco de dados de campeões copa do mundo
collection_campeoes_copadomundo = db.campeoes_copasdomundo

In [24]:
# Chamando o arquivo json campeões copas do mundo
with open("json/Campeoes - Campeoes.json") as f:
    campeoes_copasdomundo = json.load(f)

In [25]:
# Inserindo os dados no meu banco de dados de campeões copa do mundo
collection_campeoes_copadomundo.insert_many(campeoes_copasdomundo)

In [26]:
# Criando o Dataframe campeões copas do mundo
df_campeoes_copasdomundo = pd.DataFrame(list(collection_campeoes_copadomundo.find()))

In [27]:
# Visualizando o DataFrame campeões copas do mundo
df_campeoes_copasdomundo.head()

,_id,Ano,Sede,Vencedor,Segundo,Terceiro,Quarto,TotalGols,TotalTimes,TotalPartidas,Publico
0,6351f6e0b081cac00d8af8cb,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,6351f6e0b081cac00d8af8cc,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363
2,6351f6e0b081cac00d8af8cd,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.7
3,6351f6e0b081cac00d8af8ce,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,6351f6e0b081cac00d8af8cf,1954,Switzerland,Germany,Hungary,Austria,Uruguay,140,16,26,768.607

### Análise Exploratória de Dados